* {
  box-sizing: border-box;
}

form {
  max-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}

input,
button,
div {
  width: 100%;
}